#body{
   display:table;
   position:absolute;
   top:0px;
   left:0px;
   width:100%;
}
#header, #after_header{
   display:table-row;
}

#header > div, #after_header > div{
   padding:4px;
}

#left_rail, #header_logo{
   background:#ffffdd;
   display:table-cell;
   width:225px;
}

#header_buttons{
   background:#ddffff;
   display:table-cell;
}

#content{
   background:#ffddff;
   display:table-cell;
   width:300px;
}

/* feed item */

.feed_item_header{
   white-space:nowrap;
   position:relative;
   width:100%;
   overflow:hidden;
   border-bottom:1px solid #aaaaaa;
}

.feed_item{
   border:1px solid #aaaaaa;
   border-radius:3px;
}
